header {
	background: grey;
	paddding: 10px;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	a {
	text-description: none;
	font-weight: bold;
	color: white;
	}
}

.left-nav {
	float: left;
}

.right-nav {
	float: right;
}